

<% players.forEach(player=> { %>
    <div id='players'>
        <h4><%= player.first_name %> <%= player.last_name %> </h4>
        <h4>Position: <%= player.position %> </h4>
        <h4><%= player.team.full_name %> </h4>
        <% if(user) { %>
            <form method="POST" action='/players'>
                <input type='submit' value="⭐️ Add to Favorites" id='emoji'>
                <input type='hidden' name="name" value= "<%= player.first_name %> <%= player.last_name %>" >

            </form>

        
        <% } %>
    </div>




<%}) %>