

<div id='scheduleContainer'>
<% games.forEach(game => { %>
    <div id='eachGame'>
    <header id='header'>Date: <%= game.date %> </header>
    <p>Final Score</p>
    <p>Home: <%= game.home_team.full_name %> <%= game.home_team_score %></p>
    <p>Away: <%= game.visitor_team.full_name %> <%= game.visitor_team_score %> </p>
    <a href="/teams/<%= teamId %>/games/<%= game.id %>" id='pmt'>Post Match Thread</a>
    </div>

<% }) %>

</div>