



<div id='wConference'>
<% teams.forEach(team=> { %>
    <% if(team.conference === 'West'){ %>
    <div id='west'>
        <a href="/teams/<%= team.id %>/games"><%= team.full_name %></a>
        <% if(user) {%> 
            <form method="POST" action='/teams'>
                <input type='submit' value="⭐️" id="emoji">
                <input type='hidden' name="name" value="<%= team.full_name %> ">
            </form>
        <% } %>
    
    
    </div>
     <% } %>      
<% }) %>
</div>

<div id='eConference'>
<% teams.forEach(team=> { %>
    <% if(team.conference === 'East'){%>
        <div id='east'>
            <a href="/teams/<%= team.id %>/games"><%= team.full_name %></a>
            <% if(user) {%> 
                <form method="POST" action='/teams'>
                    <input type='submit' value="⭐️" id="emoji">
                    <input type='hidden' name="name" value="<%= team.full_name %> ">
                    
            
                </form>
            <% } %>
          
        </div>
    <% } %>      
<% }) %> 
</div>